@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: 'bernadette';
    src: url(fonts/bernadette.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*  font-family: 'bernadette', Arial, Helvetica, sans-serif;*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --black:#1A1A1A;
    --white:#F8F9FA;
    --transparent-b:rgba(0, 0, 0, 0.65);
    --transparent-w:rgba(255, 255, 255, 0.65);
    --pink1:#E27396;
    --pink2:#EA9AB2;
    --pink3:#FCD2EE;

    --normal-font: 'Lato', Arial, sans-serif;
    --fantasy-font: 'bernadette', Arial, Helvetica, sans-serif;
}

/* Efeitos de Hover*/

/* Scale */
.scale-hover{
    transition: 0.3s;
}

.scale-hover:hover{
    transform: scale(1.1);
}