@import url(../config.css);

main .destaque{  /* Sessão Cardápio */
display: flex;
flex-direction: column;
align-items: center;

padding-top: 80px;
padding-bottom: 80px;

}

main .destaque h2{  /* Titulo */
    display: inline-block;
    color: var(--black);
    border-bottom: 4px solid var(--pink1);

    font-size: 3em;
    font-weight: normal;
    font-family: var(--fantasy-font);
}

main .destaque .container{ /* Box envolvendo os Produtos */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
    gap: 50px;
    
    align-items: center;
    max-width: 1200px;
}

main .destaque .prod{  /* Box do Produto */
    position: relative;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    cursor: pointer;
    transition: all 0.3s;
}

main .destaque .prod:hover{  /* Hover Box do Produto */
    transform: scale(1.1);
}

main .destaque .prod p{  /* Titulo do prod. */
    font-size: 1em;
    font-weight: 300;
    font-family: var(--normal-font);
    text-align: center;
}

main .destaque .prod::after{  /* Border Bottom */
    content: '';

    position: absolute;
    bottom: -10px;

    width: 0px;
    height: 3px;
    background-color: var(--pink2);
    transition: all 0.3s;
}

main .destaque .prod:hover::after{  /* Hover Border Bottom */
   width: 30px;
}

main .destaque .btn{  /* Botão encomenda */
    display: block;
    padding: 5px 20px;

    border: 2px solid var(--pink2);
    border-radius: 10px;

    
    font-size: 1.5em;
    color: var(--black);
    font-family: var(--fantasy-font);
    transition: all 0.3s;
}

main .destaque .btn:hover{ /* Hover Btn */
    background-color: var(--pink2);
    color: var(--white);
}