@import url(../config.css);

main .diferencial{  /* Sessão Cardápio */
display: flex;
flex-direction: column;
align-items: center;

padding-top: 80px;
height: 450px;

background-color: var(--white);
box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.15);
}

main .diferencial h2{  /* Titulo */
    display: inline-block;
    color: var(--black);
    border-bottom: 4px solid var(--pink1);

    font-size: 3em;
    font-weight: normal;
    font-family: var(--fantasy-font);
}

main .diferencial .container{ /* Box envolvendo os Produtos */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    
    align-items: center;
    max-width: 1200px;
}

main .diferencial .box{  /* Box do Produto */
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    padding: 10px;
    margin-top: 50px;
    width: 230px;
    height: 120px;

    border: 1px solid var(--pink2);
    border-radius: 5px;
}

main .diferencial .box p{  /* Nome do Produto */
    font-size: 1em;
    text-align: center;
    font-family: var(--normal-font);
}

main .diferencial .box span{  /* Número do diferencial */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    position: absolute;
    top: -20px;
    background-color: var(--pink2);
    border-radius: 50%;

    font-size: 1.2em;
    color: var(--white);
    font-weight: bold;
    font-family: var(--normal-font);
}