@import url(../config.css);


main .hero{   /* Section hero */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 850px;

    z-index: -10;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-image: url(../../../img/Hero/Hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main .hero .logo{  /* Central Logo */
    width: 577px;
    height: 513px;

    background-image: url(../../../img/Logo/Logo\ L.svg);
    background-repeat: no-repeat;
    background-position: center;
}

main .hero .content{  /* Box com Conteudos do Hero */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main .hero .content h1{  /* Texto do Hero */
    font-size: 50px;
    color: var(--white);
    font-weight: normal;
    font-family: var(--fantasy-font);
}

main .hero .content a{  /* Botão Cardápio */
    padding: 5px 20px;

    border-radius: 22px;
    background-color: var(--transparent-b);

    
    font-size: 30px;
    color: var(--white);
    font-family: var(--fantasy-font);
}


main aside{  /* Botões Sociais*/
   position: absolute;
   top: 300px;
   right: 50px;
}

main aside .social{  /* Botões */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    margin-bottom: 10px ;
    
    cursor: pointer;

    color: var(--white);
    font-size: 25px;
    border-radius: 50%;
    background-color: var(--transparent-b);
}